[submodule "Dependencies/rapidyaml"]
	path = Dependencies/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "Dependencies/c4core"]
	path = Dependencies/c4core
	url = https://github.com/biojppm/c4core.git
